@page "/"
@namespace WaIIerKb.Server
@using Bolero.Server.RazorHost
@inject IBoleroHostConfig BoleroHostConfig
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WaIIer Keyboards</title>
  <base href="/">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-bold is-size-5" href="https://www.WaIIerKb.xyz">
        WaIIer Custom Mechanical Keyboards
      </a>
    </div>
  </nav>

  <div class="d-flex" id="wrapper">

    <div class="border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Sidebar Heading</div>
      <div class="list-group list-group-flush">
        <a href="/home" class="list-group-item list-group-item-action bg-light">Home</a>
        <a href="/about" class="list-group-item list-group-item-action bg-light">About</a>
        <a href="/pcb/0" class="list-group-item list-group-item-action bg-light">PCBs</a>
        <a href="/cables" class="list-group-item list-group-item-action bg-light">Cables</a>
        <a href="/keyboards" class="list-group-item list-group-item-action bg-light">Keyboards</a>
        <a href="/cases" class="list-group-item list-group-item-action bg-light">Cases</a>
        <a href="/tutorial" class="list-group-item list-group-item-action bg-light">Turotial</a>
        <a href="/interest-check" class="list-group-item list-group-item-action bg-light">Interest Check</a>
      </div>
    </div>

    <div class="page-content-wrapper">
      <div id="main">@(await Html.RenderComponentAsync<WaIIerKb.Client.Main.MyApp>(BoleroHostConfig))</div>
    </div>
  </div>

  @Html.RenderBoleroScript(BoleroHostConfig)

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
  integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
  crossorigin="anonymous"></script>
</body>

</html>
