@page "/"
@namespace WaIIerKb.Server
@using Bolero.Server.RazorHost
@inject IBoleroHostConfig BoleroHostConfig
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bolero Application</title>
  <base href="/">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-bold is-size-5" href="https://fsbolero.io">
        <img style="height:40px"
        src="https://github.com/fsbolero/website/raw/master/src/Website/img/wasm-fsharp.png" />
        &nbsp;
        Bolero
      </a>
    </div>
  </nav>

  <div class="d-flex" id="wrapper">

    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Sidebar Heading</div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Home</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">About</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Keyboards</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Cases</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Turotial</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Interest Check</a>
      </div>
    </div>

    <div class="page-content-wrapper">
      <div id="main">@(await Html.RenderComponentAsync<WaIIerKb.Client.Main.MyApp>(BoleroHostConfig))</div>
      @Html.RenderBoleroScript(BoleroHostConfig)
    </div>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
  integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
  crossorigin="anonymous"></script>
</body>

</html>
